body {
  background-color: black;
  color: white;
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.cell {
  width: 50px;
  height: 50px;
  text-align: center;
}
.cell img {
  width: 30px;
  height: auto;
}
.floor {
  background-color: gray;
}
.wall {
  background-color: brown;
}
.text1 {
  font-size: x-large;
  /* text-align: center; */
}
.text1 img {
  width: 25px;
  height: auto;
}
.text2 {
  font-size: -webkit-xxx-large;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.playGame {
  margin: auto;
  font-size: x-large;
  background-color: #03a9f4;
}
.restart {
  margin: auto;
  font-size: x-large;
  background-color: royalblue;
}
